build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/
public/files
public/landscapes
public/cards
public/portraits
public/avatars
public/meta

# sqlite db
payload.db
